.posts {
    margin-left: 30px;
    width: 100%;
}
.filter_sort {
    display: flex;
    padding: 5px;
    margin: 0;
    width: 100%;
}

.filter_sort > div > p {
    margin: 5px 20px 5px 0;
}
.filter_sort > div:first-child {
    margin-right: auto;
}
.filter_sort > div {
    display: flex;
    font-size: 1.2em;
}
.filter_sort select {
    border-radius: 5px;
    border-width: 2px;
}
.filter_sort p {
    color: #ecf0f1;
}
.read > div {
    margin-top: 20px;
}
.filter_sort select:focus {
    border-radius: 5px 5px 0 0;
}
.read a:hover,
.read a:focus {
    text-decoration: none;
    color: #1B242F;
}
.footer a {
    color: #ecf0f1;
}

.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Nunito Sans', sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li .page-link{
    cursor: pointer;
    color: #2980b9;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    height: 40px;
    width: 40px;
    margin: 0 3px 10px;
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.pagination li.active .page-link,
.pagination li .page-link:hover,
.pagination li.active .page-link:hover{
    color: #ecf0f1;
    background-color: transparent;
    text-shadow: 0 0 2px #777;
}
.pagination li#first .page-link,
.pagination li#last .page-link{
    background-color: rgba(0,0,0,0.2);
}
.pagination li .page-link:before{
    content: "";
    background: #2980b9;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 300px;
    z-index: -1;
    transition: left 0.3s ease 0s,
    border-radius 0.3s ease 0.3s,
    height 0.3s ease 0.3s,
    width 0.3s ease 0.5s;
}
.pagination li .page-link:hover:before,
.pagination li.active .page-link:before{
    height: 105%;
    width: 100%;
    border-radius: 0;
    left: 0;
}
@media only screen and (max-width: 480px){
    .pagination{ display: block; }

    .pagination li{
        margin-bottom: 10px;
        display: inline-block;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}